<h1>Tax Calculator</h1>

<%= render partial: 'instructions' %>

<%= form_tag(calculate_tax_path) do |form| %>
  <%= label_tag :income, "Income" %>
  <%= text_field_tag(:income) %>
  <%= submit_tag('calculate') %>
<% end %>